<section class="stats slanted-bottom right">
    <div class="row">
        <div class="stat medium-4 columns">
            <div class="stat-name">{{ stats[0].name }}</div>
            <div class="stat-value">{{ stats[0].value|raw }}</div>
        </div>
        <div class="stat medium-4 columns">
            <div class="stat-name">{{ stats[1].name }}</div>
            <div class="stat-value">{{ stats[1].value|raw }}</div>
        </div>
        <div class="stat medium-4 columns">
            <div class="stat-name">{{ stats[2].name }}</div>
            <div class="stat-value">{{ stats[2].value|raw }}</div>
        </div>
    </div>
</section>
