<!DOCTYPE html>
<html>
    <head>
        <!-- Cool behind-the-scenes meta stuff -->
        <meta charset="UTF-8" />

        <!-- Names are important -->
        <title>{% block title %}Affiliate Branding{% endblock %}</title>

        <!-- Beauty is only a stylesheet deep -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/foundation.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "header.html.twig" %}
        {% for message in app.session.flashBag.get('info') %}
        <div class="callout success" data-closable>
            <span>{{ message }}</span>
            <a class="close-button" href="#">&times;</a>
        </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('error') %}
        <div class="callout alert" data-closable>
            <span>{{ message }}</span>
            <a class="close-button" href="#">&times;</a>
        </div>
        {% endfor %}
        {% block body %}{% endblock %}
        {% include "footer.html.twig" %}
        <!-- This is where the magic happens -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/foundation.min.js') }}"></script>
        <script>
            $(document).foundation();
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
