<!DOCTYPE html>
<html>
    <head>
        <!-- Cool behind-the-scenes meta stuff -->
        <meta charset="UTF-8" />

        <!-- Names are important -->
        <title>{% block title %}Affiliate Branding{% endblock %}</title>

        <!-- Beauty is only a stylesheet deep -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/foundation.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "header.html.twig" %}
        {% for message in app.session.flashBag.get('info') %}
        <div class="callout success" data-closable>
            <span>{{ message }}</span>
            <a class="close-button" href="#">&times;</a>
        </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('error') %}
        <div class="callout alert" data-closable>
            <span>{{ message }}</span>
            <a class="close-button" href="#">&times;</a>
        </div>
        {% endfor %}
        {% block body %}{% endblock %}
        {% include "footer.html.twig" %}
        <!-- This is where the magic happens -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/foundation.min.js') }}"></script>
        <script src="{{ asset('js/moment.min.js') }}"></script>
        <script>
            $(function () {

                // TODO: move code to a separate file
                var state;

                $(document).foundation();

                state = getInitialState();
                window.setInterval(updateCounters, 1000);

                function tomorrow() {
                    return moment().add(1, 'days');
                }

                function week() {
                    return moment().add(7, 'days');
                }

                function getInitialState() {

                    var timeFields = $('time').map(function (domElement) {
                        var $element = $(domElement);

                        return {
                            $element: $element,
                            moment: moment($element).attr('datetime')
                        };
                    });

                    return {
                        count: 0,
                        fastTimerData: $(timeFields).filter(function (datum) {
                            return datum.moment.isBefore(tomorrow());
                        }),
                        slowTimerData: $(timeFields).filter(function (datum) {
                            return datum.moment.isAfter(tomorrow()) && datum.moment.isBefore(week())
                        })
                    };
                }

                function updateFastCounter(datum) {
                    var duration = moment.duration(moment().diff(datum.moment));
                    var hours = duration.hours();
                    var minutes = duration.minutes();
                    var seconds = duration.seconds();

                    datum.$element.html(hours + 'h : ' + minutes + 'm : ' + seconds + 's');
                }

                function updateSlowCounter(datum) {
                    var duration = moment.duration(moment().diff(datum.moment));
                    var days = duration.days();
                    var hours = duration.hours();
                    var minutes = duration.minutes();

                    datum.$element.html(days + 'd : ' + hours + 'h : ' + minutes + 'm');
                }

                function updateCounters() {
                    state.count += 1;

                    $(state.fastTimerData).forEach(updateFastCounter);

                    if (state.count % 60 === 0) {
                        $(state.slowTimerData).forEach(updateSlowCounter);
                    }
                }
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
