{% extends "::base.html.twig" %}

{% block body %}
    <h1>{{ challenge.name }}</h1>
    {% if app.user %}
    <form method="POST" action="{{ path('join_challenge_action', {'slug': challenge.slug}) }}">
        <input class="button" type="submit" value="Join challenge" />
    </form>
    {% endif %}

    {% for participant in challenge.participants %}
        <div>{{ loop.index }} - {{ participant.user.name }} : {{ participant.score }}</div>
    {% endfor %}
{% endblock body %}
